<html lang="fr">


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/Sb-Admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
        <link href="/CSS/sb-admin-2.css" rel="stylesheet">
        <link href="/Sb-Admin-2/vendor/morrisjs/morris.css" rel="stylesheet">
        <link href="/Sb-Admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/Sb-Admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        {% block css %} {% endblock%}

        <title>{% block titre %}baseUser.html.twig{% endblock%}</title>

    </head>

    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="height: 20; margin-bottom: 0">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: #b00000;  letter-spacing: 2px; font-weight: bold;" href="/coach/dashboard">
                        COACH'ME/{{ app.user.username  }}
                    </a>
                </div>

                <ul class="nav navbar-top-links navbar-right">

                    <table>
                        <tr>
                            <td  style="width: 100px;"><a style="color: #b00000" href="#"><i class="fa fa-user fa-fw"></i> {{ app.user.username  }}  </a>
                            </td>
                            <td style="width: 150px;"><a style="color: #b00000" href="/coach/profil"><i class="fa fa-gear fa-fw"></i> Mon compte</a>
                            </td>
                            <td style="width: 150px;"> <a  style="color: #b00000" href="/logout"> <i class="fa fa-sign-out fa-fw"> </i>Se deconnecter</a>

                            </td>

                        </tr>
                    </table>
                </ul>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a style="color: #b00000" href="/coach/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a style="color: #b00000"  href="/coach/monprogramme"><i class="fa fa-bar-chart-o fa-fw"></i> Mes programmes  </a>
                            </li>
                            <li>
                                <a style="color: #b00000"  href="/coach/ajouterprogramme"><i class="fa  fa-plus   fa-fw"></i> Nouveau programme  </a>
                            </li>

                            <li>
                                <a style="color: #b00000"  href="/coach/messeances"><i class="fa fa-bolt fa-fw"></i> Mes séances</a>
                            </li>
                            <li>
                                <a style="color: #b00000"  href="/coach/ajouterseance"><i class="fa  fa-plus   fa-fw"></i> Nouvelle seance  </a>
                            </li>
                            <li>
                                <a style="color: #b00000" href="/coach/calendrier"><i class="fa fa-table fa-fw"></i> Calendrier</a>
                            </li>
                            <li>
                                <a style="color: #b00000" href="/coach/mesperformances"><i class="fa fa-edit fa-fw"></i> Mes performances</a>
                            </li>
                            <li>
                                <a style="color: #b00000" href="/coach/boutique"><i class="glyphicon  glyphicon-shopping-cart"></i> Boutique </a> 
                            </li>
                            <li>
                                <a href="#" style="color: #b00000" ><i class="fa fa-sitemap fa-fw"></i> Tout les programmes<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/coach/ficheprogramme/force">Force</a>
                                    </li>
                                    <li>
                                        <a href="/coach/ficheprogramme/endurance">Endurance</a>
                                    </li>
                                    <li>
                                        <a href="/coach/ficheprogramme/minceur">Minceur</a>
                                    </li>
                                    <li>
                                        <a href="/coach/ficheprogramme/detox">Detox</a>
                                    </li>
                                    <li>
                                        <a href="/coach/ficheprogramme/prisedemasse">Prise de masse musculaire</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a style="color: #b00000"  href="/logout"> <i class="fa fa-sign-out fa-fw"> </i>Se deconnecter</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.navbar-static-side -->
            </nav>  

            <div id="page-wrapper">     
                {% block body %}
                    Block BODY basedashboard.html.twig
                {% endblock body %}    
            </div>     
        </div> 
        <div>
            <footer>
                {% block footer %}
                    footer base anonyme html twig
                {% endblock footer %}
            </footer>
        </div>

        <script src="/Sb-Admin-2/vendor/jquery/jquery.min.js"></script>
        <script src="/Sb-Admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/Sb-Admin-2/vendor/metisMenu/metisMenu.min.js"></script>
        <script src="/Sb-Admin-2/vendor/raphael/raphael.min.js"></script>
        <script src="/Sb-Admin-2/vendor/morrisjs/morris.min.js"></script>
        <script src="/Sb-Admin-2/dist/js/sb-admin-2.js"></script>  

        {% block js %}  

        {% endblock js%}


    </body>

</html>