{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block titre %} inscription {% endblock%}


{% block fos_user_content %}
                <img src="/img/img1.png" style="width:450px; display: block; margin-left: auto; margin-right: auto;" />

    <div class="login">
   
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h1>Inscription</h1>



            <form action="{{ path('fos_user_registration_register') }}" method="POST" class="form-horizontal" role="form">
                    {{form_errors(form)}}
                        <div class="form-group">
                            <label for="username" class="col-md-2 control_label">Login :</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" id="username" name="fos_user_registration_form[username]" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-2 control_label">Email :</label>
                            <div class="col-md-3">
                                <input class="form-control" type="email" id="email" name="fos_user_registration_form[email]" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="plainPassword_first" class="col-md-2 control_label">Mot de passe :</label>
                            <div class="col-md-3">
                                <input class="form-control" type="password" id="plainPassword_first" name="fos_user_registration_form[plainPassword][first]" value="Hedwige_45Hp" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="plainPassword_second" class="col-md-2 control_label">Confirmation du mot de passe :</label>
                            <div class="col-md-3">
                                <input class="form-control" type="password" id="plainPassword_second" name="fos_user_registration_form[plainPassword][second]" value="Hedwige_45Hp" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Valider <span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                        </div>
                    {{ form_widget(form._token) }}
                </form>
    
    
            {% endif %}

    </div>

{% endblock fos_user_content %}
