{% extends 'BaseDashboard.html.twig' %}

{% block titre %}Mon profil{% endblock%}

{% block body %}   
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">MON PROFIL</h1>
        </div>
    </div>
    
    
    Voici l'abonné {{ abonne.NomAbonne }} {{ abonne.PrenomAbonne }}
    
    
{% endblock %}


