<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block titre %} acceuil.html.twig title {% endblock%}</title>

        <!-- Bootstrap core CSS -->
        <link href="Grayscale/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="Grayscale/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="Grayscale/css/grayscale.min.css" rel="stylesheet">

        <link rel="stylesheet" href="CSS/Login.css" />
    </head>


    <body id="page-top">

        <header class="masthead">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">

                            <div>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ app.user.username  }} |
                                    <a href="{{ path('fos_user_security_logout') }}"> Se deconnecter</a>
                                {% endif %}
                            </div>

                            {% if app.request.hasPreviousSession %}
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="flash-{{ type }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            <div>
                                {% block fos_user_content %}

                                {% endblock fos_user_content %}
                            </div>

                            <div>
                                {% block body %}

                                {% endblock body %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>


    </body>


    <footer>
        <div class="container text-center">
                <p>Copyright &copy; Projet Technique Option WEB | HiteMa 2018 | 48-50 rue Camille Desmoulins - 92130 ISSY LES MOULINEAUX</p>
        </div>
    </footer>


</html>
