{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block titre %} Bienvenue {% endblock%}


{% block fos_user_content %}
    
    <div class="login">
        <h1>
            {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
 
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        </h1>
        <br><br>
        <a class="btn btn-success btn-block" href="/user/profil/{{ user.id }}"> Suivent </a>

    </div>
        
   
{% endblock fos_user_content %}
